<?xml version="1.0"?>
<launch>

  <node pkg="ilcc2" type="get_image_corners_bag" name="get_image_corners_bag" output="screen">

    <param name="bag_path_prefix"  value= "/home/ha/record/pointGrey/2018-12-03-" />
    <param name="bag_num"  value= "7" />

    <param name="camera_name"  value= "pointgrey" />
    <param name="image_topic"  value= "/camera/image_raw" />
    <param name="yaml_path"  value= "pointgrey.yaml" />

    <param name="save_image_flag"  value= "true" />


  </node>


</launch>

