<?xml version="1.0"?>
<launch>

  <node pkg="ilcc2" type="get_lidar_corners" name="get_lidar_corners" output="screen">

    <param name="bag_path_prefix"  value= "/home/ha/record/panduola_1119/front/2018-11-19-" />
    <param name="bag_num"  value= "6" />

    <param name="lidar_topic"  value= "/velodyne_points" />


    <param name="camera_name"  value= "front" />
    <param name="yaml_path"  value= "front.yaml" />


  </node>


</launch>

