<?xml version="1.0"?>
<launch>

  <node pkg="ilcc2" type="rgblidar" name="rgblidar" output="screen">

     <param name="distance_valid"         value="80" />
     <param name="extrinsic_file"         value="/config/pointgrey.bin" />

    <param name="yaml_path"  value= "pointgrey.yaml" />

    <param name="image_topic"  value= "/camera/image_raw" />
    <param name="lidar_topic"  value= "/velodyne_points" />

  </node>


</launch>

